<% layout('layout') -%>

<div class="container">
    <div class="row">
        <div>
            
        </div>
    </div>
    
    <div class="row">
    <div class="col-lg-2 col-md-offset-6">
        <div class="text-center" id="loading">
        </div>
    </div>
</div>